version: '1.0.{build}'

platform:
  - x64

clone_folder: c:\projects\cpp-tutor
image:
- Visual Studio 2015
 
configuration:
  - Release

environment:
  matrix:
  - arch: Win64
matrix:
  fast_finish: true

init:
- set arch=
- if "%arch%"=="Win64" ( set arch= Win64)
- echo %arch%
- echo %APPVEYOR_BUILD_WORKER_IMAGE%
- if "%APPVEYOR_BUILD_WORKER_IMAGE%"=="Visual Studio 2017" ( set generator="Visual Studio 15 2017%arch%" )
- if "%APPVEYOR_BUILD_WORKER_IMAGE%"=="Visual Studio 2015" ( set generator="Visual Studio 14 2015%arch%" )
- if "%APPVEYOR_BUILD_WORKER_IMAGE%"=="Visual Studio 2013" ( set generator="Visual Studio 12 2013%arch%" )
- echo %generator%

before_build:
- cmd: |-
    git clone https://github.com/google/googletest.git
    mkdir _build
    cd _build
    cmake --version
    cmake ../ -G %generator%
    dir

build:
  project: $(APPVEYOR_BUILD_FOLDER)\_build\cpp-tutor.sln
  verbosity: minimal
  parallel: true

test_script:
  - '%APPVEYOR_BUILD_FOLDER%\_build\%CONFIGURATION%\cppTutorUT.exe'
